#links{
  color:white;
  
}

/* Anchor element */
a:link{
  color: #006ba0;
background-color: transparent;
      text-decoration:none;
  }
  a:visited{
      text-decoration:none;
      color:#006ba0;

  }
      a:hover{
      text-decoration:none;
      color:#4cd47c;
  }
  a:active{
      text-decoration:none;
      color:#006ba0;
  }


nav{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: #a5b2bd;
  top:0px;
  text-align:left;
  font-family:'RocknRoll One', sans-serif;
  background-color:none;
  margin-left:0px;
  margin-right:0px;
  width:100%;
  object-fit:cover;

}

/* Enlargement of fonts */
.enlarge{
  font-size:40px;
  font-weight:30px;
  text-align:center;
  color:#413a3a;
  font-family:'RocknRoll One', sans-serif;
  text-transform: uppercase;
  margin-left:420px;
}


body {
  background-color:azure;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.side{
  align-self:flex-end;
  display:flex;
  align-items: right;
}

/* Styling h1 */
h1{
  text-align:center;
  color:#43b049;
  font-weight: 300;


  font-size:70px;
  font-family:'RocknRoll One', sans-serif;
}

/* Styling h2 */
h2{
  text-align:center;
  margin-left:400px;
  margin-right:400px;
  align-items:center;
  color:black;

  font-family:'RocknRoll One', sans-serif;
}

/* heart */
.back {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  animation-name: backdiv;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}
.heart {
  position: absolute;
  margin-left:640px;
  margin-right:300px;
  top: 20;
  right: 25;
  bottom: 20;
  left: 25;
  background-color:#ee69a7;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  align-items: center;

}


.heart::after {
  background-color:#ee69a7;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}
.heart::before {
  content: " ";
  background-color:#ee69a7;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

/* Animations */
@keyframes backdiv {
  50% {
      width: 400px;
  }
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
  }
}

/* Styles for Button */
button{
  font-size: 20px;
  font-family:'RocknRoll One', sans-serif;
  font: weight 40px;
  border-style:solid;
  border-color:#4cd47c;
  margin-left:600px;
  margin-top:100px;
  padding: .8em 1.8em;
  color: #fff;
  border-radius: 25em;
  background: #0b2227;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  transition: all .2s;
  position: relative;
  top: 0;
  cursor: pointer;
}

/* Hover */
button:hover{
   transform:scale(1.1);
}


section{
  text-align:center;
  margin-left:300px;
  margin-right:300px;
  margin-top:30px;
  margin-bottom:0px;
  align-items:flex-end;
  color:black;
  font-size:20px;
  font-weight:20px;
  font-style:bold;
  font-family:'RocknRoll One', sans-serif;
}

.about{

    font-size:20px;
    font-style:bold;
    font-family:'RocknRoll One', sans-serif;
    color:black;
    text-align:center;  
    background-color:whitesmoke;
    margin-left:50px;
    height:550px;
    width:300px;
    flex-direction: row;
    float:left;
    display: block;
    gap: 0px;
    grid-auto-flow: column;
    border-color: black;
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
    border-radius: 8px;
    transition: all .2s;
    position: relative;
    top: 0;
    cursor: pointer;

  }
  
  .abImg{
      height:200px;
 width:300px;
 display:flexbox;
 border-radius:8px 8px 0px 0px;
 padding: 0px 0px 0px 0px;
}
.about:hover{
  transform:scale(1.02);
}

.mis{

  font-size:20px;
  font-style:bold;
  font-family:'RocknRoll One', sans-serif;
  color:white;
  text-align:center;  
  background-color:rgba(0, 0, 0, 0.767);
  top:-1;
  margin-right:180px;
  height:550px;
  width:300px;
  flex-direction: row;
  float:right;
  display: block;
  gap: 0px;
  grid-auto-flow: column;
  box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
  border-radius: 8px;
  transition: all .2s;
  position: relative;
  top: 0;
  cursor: pointer;
}

.mis:hover{
  transform:scale(1.02);
}

.cont{
  font-size:20px;
  font-style:bold;
  font-family:'RocknRoll One', sans-serif;
  color:black;
  text-align:center;  
  background-color:#fde8ec;
  margin-right: 45px;
  margin-left:20px;
  height:550px;
  width:300px;
  flex-direction: row;
  float:right;
  display: block;
  top:-1;
  gap: 10px;
  grid-auto-flow: column;
  border-color: black;
  box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
  border-radius: 8px;
  transition: all .2s;
  position: relative;
  top: 0;
  cursor: pointer;
}

.cont:hover{
   transform:scale(1.02);
}

.region{
 
    border-style:solid;
    border-color:#00c3ff;
    border-radius:50%;
    border-width:8px;
    left: 100px;
    top: 95px;
    width: 155px;
    height:155px;
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
 
}

.secImg{
  border-style:solid;
  border-color:pink;
  border-radius:50%;
  border-width:8px;
  height:190px;
  left: 240px;
  top: 185px;
  width: 190px;
  margin-bottom:200px;
  box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
}


.Timg{
  border-style:solid;
  border-color:#4cd47c;
  border-radius:50%;
  border-width:8px;
  height:150px;
  left: 380px;
  top: 325px;
  width: 150px;
  box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
}

.Timg1{
     border-style:solid;
     border-color:#006ba0;
     border-radius:50%;
     border-width:8px;
     height:100px;
     left: 380px;
     top: 325px;
     width: 100px;
     margin-bottom:200px;
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
   }

   .Timg2{
      border-style:solid;
      border-color:tomato;
      border-radius:50%;
      border-width:8px;
      height:200px;
      left: 380px;
      top: 325px;
      width: 200px;
      margin-bottom:200px;
     box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
    }

    .Timg3{
      border-style:solid;
      border-color:#fafa7a;
      border-radius:50%;
      border-width:8px;
      height:180px;
      margin-top:10px;
      left: 380px;
      top: 32px;
      width: 180px;
      box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
    }
  

   .upw{
       height:110px;
       width:200px;
       box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
       border-radius: 10px;
       margin-left: 570px;
       margin-right: 480px;
       align-items: center;
      
   }

   .AlignH{

      text-align: center;
      color:black;
      font-size:20px;
      font-style:bold;
      font-family:'RocknRoll One', sans-serif;
      color:black;
   }


   .imgmix{
align-items: center;
margin-top:100px;
margin-left:350px;
margin-right:300px;
box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
  border-radius: 10px;
  transition: all .2s;
  position: relative;
  top: 0;
  cursor: pointer;

   }

   .imgmix:hover{
      transform:scale(1.02px);
    }

    .bottom{
      background-color:#152442;
      margin-top:20px;
      margin-bottom:0px;
      height:auto;
      width:100%;
      color:whitesmoke;
      display:block;
    }

    .upw1{
      height:110px;
      width:200px;
       box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
       border-radius: 10px;
       margin-top:0px;
       margin-bottom:0px;
       margin-left: 10px;
       margin-right: 500px;
       /*align-items: left;*/
       z-index:-1;
       position:relative;
       float:left;
      
   }

   .color{
    background:linear-gradient( 94deg, pink,orange);
    width:100%;
    transform: skewY(-11deg);
    }

    .color1{
      background:linear-gradient( 94deg, pink,purple); 
      width:100%;
      transform: skewY(15deg);
      }

      .color2{
        background:linear-gradient( 94deg, purple,pink,purple); 
        width:100%;
        transform: skewY(-17deg);
        }

      .color3{
        background:linear-gradient( 94deg,orange,pink,yellow); 
        width:100%;
        transform: skewY(8deg);
          }

       .color4{
        background:linear-gradient( 94deg,purple,pink,purple); 
        width:100%;
        transform: skewY(20deg);
            }

        .color5{
        background:linear-gradient( 94deg,#FF007F,purple); 
        width:100%;
        transform: skewY(14deg);
              }
  
        .color6{
        background:linear-gradient( 94deg,#f1b33f,purple,pink); 
        width:100%;
        transform: skewY(-14deg);
                }

        .imgmix1
      {
        align-items: center;
        margin-top:50px;
        margin-left:450px;
        margin-right:3000px;
        margin-bottom:90px;
        box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
        border-radius: 10px;
        transition: all .2s;
        position: absolute;
        top:10px;
        cursor: pointer;
        z-index:2;
       
      }
.imgmix11{
      align-items: center;
        margin-top:3000px;
        margin-left:450px;
        margin-right:3000px;
        margin-bottom:9px;
        box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
        border-radius: 10px;
        transition: all .2s;
        position: absolute;
        top:10px;
        cursor: pointer;
        z-index:1;
     }

        .colora20{
             background:linear-gradient( 94deg, pink,orange);
             width:100%;
             transform: skewY(-11deg);
                               
                 }
                        
       .colora21{
             background:linear-gradient( 94deg, pink,purple); 
             width:100%;
            transform: skewY(15deg);
                }
                        
         .colora22{
             background:linear-gradient( 94deg,green,yellow); 
             width:100%;
             transform: skewY(-17deg);
                  }
                        
          .colora23{
             background:linear-gradient( 94deg,yellow,green,rgb(80, 231, 80)); 
             width:100%;
             transform: skewY(8deg);
                   }
                        
           .colora24{
              background:linear-gradient( 94deg,yellow,green,yellow); 
              width:100%;
              transform: skewY(20deg);
                    }
                        
           .colora25{
               background:linear-gradient( 94deg,yellow orange); 
                 width:100%;
                transform: skewY(14deg);
               }
                            
          .colora26{
                background:linear-gradient( 94deg,#f1b33f,#f52bc2,green,orange); 
                width:100%;
               transform: skewY(-14deg);
             }

           .colora27{
               background:linear-gradient( 94deg,blue,rgb(116, 222, 236),#af27af); 
                width:100%;
               transform: skewY(25deg);
              }

            .colora28{
                background:linear-gradient( 94deg,yellow,#f52bc2,orange); 
                width:100%;
                transform: skewY(-3deg);
                       }

              .colora29{
                 background:linear-gradient( 94deg,blue,rgb(116, 222, 236),#af27af,#00b7ff); 
                 width:100%;
                  transform: skewY(-20deg);
                }

  .imgmix12{
       height:400px;
       width:800px;
       align-items: center;
       margin-top:2000px;
       margin-left:250px;
       margin-right:330px;
       margin-bottom:1000px;
       box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
       border-radius: 10px;
       transition: all .2s;
       position: absolute;
       top:10px;
       cursor: pointer;
       z-index:2;
       top:5px;
   }

      addP{
        padding:10px 5px 10px 5px;
        text-align:center;
      }                 
                
